[Desktop Entry]
Type=Link
Name=Wah-Lah Agent
Comment=Open the linked Wah-Lah/Gamut agent
URL=https://wah-lah.ongamut.so/agents/2rtl8n3kbb
Icon=applications-internet